<!-- #CST205
#Team 29 
#Cristian Arredondo, Victor Cuin, Christian Jimenez 
#This page gives further description of the movie that was clicked on  -->
<html lang="en">
    <head>
        {{ bootstrap.load_css() }} 
        {{ bootstrap.load_js() }}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Website</title>
    </head>

    <body style="background-image: linear-gradient(white, gray);">
        <div> 
            <p>Movie Information </p>
            
            <h1><i>{{title}}</i></h1>
            <p style="text-align:center;"><img src="{{image}}" alt="{{title}}" class="rounded img_fluid"></p>
            <h3>Overview:</h3>
            <h4>{{desc}}</h4>
            <h3>Release: {{release}}</h3>
            <h3>Popularity: {{popularity}}</h3>
            <p style="text-align:right"><a href="{{url_for('hello')}}" class="btn btn-light" style="font-size:25px;">Home</a></p>
        </div>
    </body>
    
</html>